body{
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
	background-image: url("bg.jpg");
	background-size: cover;
	justify-items: center;
}
h1{
	user-select: none;
	opacity: 0.3;
	margin: 0;
	padding: 0;
	position: fixed;
	font-weight: bold;
}
button{
	cursor: pointer;
	width: auto;
	background-color: black;
	color: white;
	border: none;
	border-radius: 20px;
	padding: 8px;
}
textarea{
	resize: none;
}
.container{
}
#h1-top{
	font-size: 90px;
	right: 0;
	bottom: 125px;
}
#h1-bottom{
	font-size: 140px;
	right: 0;
	bottom: 0;
}
.wrapper{
	background-color: white;
	width: 30%;
	height: auto;
	margin: 50px auto;
	border-radius: 18px;
	padding: 15px;
	display: flex;
	align-items: center;
	flex-direction: column;

}
.form-flex{
	width: 80%;
	display: flex;
	flex-direction: column;
	text-align: center;
}
.button-wrapper{
	margin: 10px;
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.kalkulasi-wrapper{
	width: 100%;
	position: fixed;
	right: 0;
	top: 0;
}
#rumus1{
	display: none;
}
#rumus2{
	display: none;
}
@media only screen and (max-width: 800px) {
	#h1-top{ 
		position: relative;
		width: 100%;
		text-align: center;
		font-size: 30px;
		bottom: 0;
	}
	#h1-bottom{
		position: relative;
		width: 100%;
		text-align: center;
		font-size: 30px;
	}
	.wrapper{
		width: 70%;
	}
	.kalkulasi-wrapper h1{
		color: white;
		bottom: 0;
		font-size: 20px;
	}
	body{
		height: 880px;
	}
}